DATABASE_URL=sqlite:///D:/FON/vegetation_monitoring_project/backend/vegetation.db
COPERNICUS_CLIENT_ID=your-client-id
COPERNICUS_CLIENT_SECRET=your-client-secret
COPERNICUS_BASE_URL=https://sh.dataspace.copernicus.eu
COPERNICUS_TOKEN_URL=https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
